@font-face {
  font-family: 'blp-font';
  src:
    url('fonts/blp-font.ttf?ub85ab') format('truetype'),
    url('fonts/blp-font.woff?ub85ab') format('woff'),
    url('fonts/blp-font.svg?ub85ab#blp-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="blp-"], [class*=" blp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'blp-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blp-ic20-arhive:before {
  content: "\ea0b";
}
.blp-ic20-bell:before {
  content: "\ea0c";
}
.blp-ic20-edit-2:before {
  content: "\ea0d";
}
.blp-ic20-gift:before {
  content: "\ea0e";
}
.blp-ic20-upload-2:before {
  content: "\ea0f";
}
.blp-ic20-blp-coin:before {
  content: "\ea0a";
}
.blp-ic20-zoom-out:before {
  content: "\e900";
}
.blp-ic20-zoom-in:before {
  content: "\e901";
}
.blp-ic20-yen:before {
  content: "\e902";
}
.blp-ic20-wifi:before {
  content: "\e903";
}
.blp-ic20-warning:before {
  content: "\e904";
}
.blp-ic20-wallet:before {
  content: "\e905";
}
.blp-ic20-volume-off:before {
  content: "\e906";
}
.blp-ic20-volume-min:before {
  content: "\e907";
}
.blp-ic20-volume-mid:before {
  content: "\e908";
}
.blp-ic20-volume-max:before {
  content: "\e909";
}
.blp-ic20-voice:before {
  content: "\e90a";
}
.blp-ic20-visibility-off:before {
  content: "\e90b";
}
.blp-ic20-visibility:before {
  content: "\e90c";
}
.blp-ic20-view-week:before {
  content: "\e90d";
}
.blp-ic20-view-two-columns:before {
  content: "\e90e";
}
.blp-ic20-view-three-columns:before {
  content: "\e90f";
}
.blp-ic20-view-table:before {
  content: "\e910";
}
.blp-ic20-view-slider:before {
  content: "\e911";
}
.blp-ic20-view-schedule:before {
  content: "\e912";
}
.blp-ic20-view-lp:before {
  content: "\e913";
}
.blp-ic20-view-day:before {
  content: "\e914";
}
.blp-ic20-view-boxes:before {
  content: "\e915";
}
.blp-ic20-video:before {
  content: "\e916";
}
.blp-ic20-vertical-align-top:before {
  content: "\e917";
}
.blp-ic20-vertical-align-center:before {
  content: "\e918";
}
.blp-ic20-vertical-align-bottom:before {
  content: "\e919";
}
.blp-ic20-verified:before {
  content: "\e91a";
}
.blp-ic20-users:before {
  content: "\e91b";
}
.blp-ic20-user-delete:before {
  content: "\e91c";
}
.blp-ic20-user-add:before {
  content: "\e91d";
}
.blp-ic20-user:before {
  content: "\e91e";
}
.blp-ic20-upload:before {
  content: "\e91f";
}
.blp-ic20-unlock:before {
  content: "\e920";
}
.blp-ic20-unlink:before {
  content: "\e921";
}
.blp-ic20-union:before {
  content: "\e922";
}
.blp-ic20-unfold-more:before {
  content: "\e923";
}
.blp-ic20-unfold-less:before {
  content: "\e924";
}
.blp-ic20-undo:before {
  content: "\e925";
}
.blp-ic20-twitter:before {
  content: "\e926";
}
.blp-ic20-tv:before {
  content: "\e927";
}
.blp-ic20-turn-off:before {
  content: "\e928";
}
.blp-ic20-trophy:before {
  content: "\e929";
}
.blp-ic20-trending-up:before {
  content: "\e92a";
}
.blp-ic20-trending-down:before {
  content: "\e92b";
}
.blp-ic20-transaction:before {
  content: "\e92c";
}
.blp-ic20-time:before {
  content: "\e92d";
}
.blp-ic20-ticket:before {
  content: "\e92e";
}
.blp-ic20-thumb-up:before {
  content: "\e92f";
}
.blp-ic20-thumb-down:before {
  content: "\e930";
}
.blp-ic20-text-fields:before {
  content: "\e931";
}
.blp-ic20-tag:before {
  content: "\e932";
}
.blp-ic20-tablet:before {
  content: "\e933";
}
.blp-ic20-sync:before {
  content: "\e934";
}
.blp-ic20-suitcase:before {
  content: "\e935";
}
.blp-ic20-success:before {
  content: "\e936";
}
.blp-ic20-substract:before {
  content: "\e937";
}
.blp-ic20-stopwatch:before {
  content: "\e938";
}
.blp-ic20-star-empty:before {
  content: "\e939";
}
.blp-ic20-star:before {
  content: "\e93a";
}
.blp-ic20-sort:before {
  content: "\e93b";
}
.blp-ic20-slider:before {
  content: "\e93c";
}
.blp-ic20-shuffle:before {
  content: "\e93d";
}
.blp-ic20-shopping-cart:before {
  content: "\e93e";
}
.blp-ic20-share:before {
  content: "\e93f";
}
.blp-ic20-settings:before {
  content: "\e940";
}
.blp-ic20-select-all:before {
  content: "\e941";
}
.blp-ic20-search:before {
  content: "\e942";
}
.blp-ic20-ruble:before {
  content: "\e943";
}
.blp-ic20-rotate:before {
  content: "\e944";
}
.blp-ic20-report:before {
  content: "\e945";
}
.blp-ic20-reply:before {
  content: "\e946";
}
.blp-ic20-remove:before {
  content: "\e947";
}
.blp-ic20-refresh:before {
  content: "\e948";
}
.blp-ic20-redo:before {
  content: "\e949";
}
.blp-ic20-quote:before {
  content: "\e94a";
}
.blp-ic20-publish:before {
  content: "\e94b";
}
.blp-ic20-protect:before {
  content: "\e94c";
}
.blp-ic20-pound:before {
  content: "\e94d";
}
.blp-ic20-plus-circle:before {
  content: "\e94e";
}
.blp-ic20-plus:before {
  content: "\e94f";
}
.blp-ic20-plugin:before {
  content: "\e950";
}
.blp-ic20-play-circle:before {
  content: "\e951";
}
.blp-ic20-play:before {
  content: "\e952";
}
.blp-ic20-plane:before {
  content: "\e953";
}
.blp-ic20-photos:before {
  content: "\e954";
}
.blp-ic20-photo-add:before {
  content: "\e955";
}
.blp-ic20-photo:before {
  content: "\e956";
}
.blp-ic20-phone-paused:before {
  content: "\e957";
}
.blp-ic20-phone-missed:before {
  content: "\e958";
}
.blp-ic20-phone-in-talk:before {
  content: "\e959";
}
.blp-ic20-phone-forwarded:before {
  content: "\e95a";
}
.blp-ic20-phone-callback:before {
  content: "\e95b";
}
.blp-ic20-phone:before {
  content: "\e95c";
}
.blp-ic20-performance:before {
  content: "\e95d";
}
.blp-ic20-pause-circle:before {
  content: "\e95e";
}
.blp-ic20-pause:before {
  content: "\e95f";
}
.blp-ic20-parking:before {
  content: "\e960";
}
.blp-ic20-open-in-new:before {
  content: "\e961";
}
.blp-ic20-open-in-browser:before {
  content: "\e962";
}
.blp-ic20-opacity:before {
  content: "\e963";
}
.blp-ic20-notification:before {
  content: "\e964";
}
.blp-ic20-near-me:before {
  content: "\e965";
}
.blp-ic20-navigation:before {
  content: "\e966";
}
.blp-ic20-mouse:before {
  content: "\e967";
}
.blp-ic20-more-ver:before {
  content: "\e968";
}
.blp-ic20-more-hor:before {
  content: "\e969";
}
.blp-ic20-mobile:before {
  content: "\e96a";
}
.blp-ic20-minus-circle:before {
  content: "\e96b";
}
.blp-ic20-minus:before {
  content: "\e96c";
}
.blp-ic20-mic-off:before {
  content: "\e96d";
}
.blp-ic20-mic:before {
  content: "\e96e";
}
.blp-ic20-menu:before {
  content: "\e96f";
}
.blp-ic20-medium:before {
  content: "\e970";
}
.blp-ic20-map:before {
  content: "\e971";
}
.blp-ic20-lock:before {
  content: "\e972";
}
.blp-ic20-list-bullet:before {
  content: "\e973";
}
.blp-ic20-linkedin:before {
  content: "\e974";
}
.blp-ic20-link:before {
  content: "\e975";
}
.blp-ic20-layers:before {
  content: "\e976";
}
.blp-ic20-layer-align-vertical:before {
  content: "\e977";
}
.blp-ic20-layer-align-top-center:before {
  content: "\e978";
}
.blp-ic20-layer-align-right-center:before {
  content: "\e979";
}
.blp-ic20-layer-align-left-center:before {
  content: "\e97a";
}
.blp-ic20-layer-align-horizontal:before {
  content: "\e97b";
}
.blp-ic20-layer-align-bottom-center:before {
  content: "\e97c";
}
.blp-ic20-label:before {
  content: "\e97d";
}
.blp-ic20-keyboard:before {
  content: "\e97e";
}
.blp-ic20-key:before {
  content: "\e97f";
}
.blp-ic20-invert-color:before {
  content: "\e980";
}
.blp-ic20-intersect:before {
  content: "\e981";
}
.blp-ic20-instagram:before {
  content: "\e982";
}
.blp-ic20-insert-emoticon:before {
  content: "\e983";
}
.blp-ic20-info:before {
  content: "\e984";
}
.blp-ic20-inbox:before {
  content: "\e985";
}
.blp-ic20-import-export:before {
  content: "\e986";
}
.blp-ic20-hourglass-progress:before {
  content: "\e987";
}
.blp-ic20-hourglass-full:before {
  content: "\e988";
}
.blp-ic20-hourglass-empty:before {
  content: "\e989";
}
.blp-ic20-horizontal-align-right:before {
  content: "\e98a";
}
.blp-ic20-horizontal-align-left:before {
  content: "\e98b";
}
.blp-ic20-horizontal-align-center:before {
  content: "\e98c";
}
.blp-ic20-home:before {
  content: "\e98d";
}
.blp-ic20-help:before {
  content: "\e98e";
}
.blp-ic20-heart-full:before {
  content: "\e98f";
}
.blp-ic20-heart:before {
  content: "\e990";
}
.blp-ic20-health:before {
  content: "\e991";
}
.blp-ic20-gps-off:before {
  content: "\e992";
}
.blp-ic20-gps-fixed:before {
  content: "\e993";
}
.blp-ic20-gps:before {
  content: "\e994";
}
.blp-ic20-google-plus:before {
  content: "\e995";
}
.blp-ic20-globe:before {
  content: "\e996";
}
.blp-ic20-functions:before {
  content: "\e997";
}
.blp-ic20-fullscreen-exit:before {
  content: "\e998";
}
.blp-ic20-fullscreen:before {
  content: "\e999";
}
.blp-ic20-franc:before {
  content: "\e99a";
}
.blp-ic20-format-underline:before {
  content: "\e99b";
}
.blp-ic20-format-strikethrough:before {
  content: "\e99c";
}
.blp-ic20-format-line-spacing:before {
  content: "\e99d";
}
.blp-ic20-format-italic:before {
  content: "\e99e";
}
.blp-ic20-format-indent-increase:before {
  content: "\e99f";
}
.blp-ic20-format-indent-decrease:before {
  content: "\e9a0";
}
.blp-ic20-format-bold:before {
  content: "\e9a1";
}
.blp-ic20-folder-add:before {
  content: "\e9a2";
}
.blp-ic20-folder:before {
  content: "\e9a3";
}
.blp-ic20-flip-to-front:before {
  content: "\e9a4";
}
.blp-ic20-flip-to-back:before {
  content: "\e9a5";
}
.blp-ic20-flag:before {
  content: "\e9a6";
}
.blp-ic20-filter:before {
  content: "\e9a7";
}
.blp-ic20-file-remove:before {
  content: "\e9a8";
}
.blp-ic20-file-edit:before {
  content: "\e9a9";
}
.blp-ic20-file-add:before {
  content: "\e9aa";
}
.blp-ic20-file:before {
  content: "\e9ab";
}
.blp-ic20-facebook:before {
  content: "\e9ac";
}
.blp-ic20-extension:before {
  content: "\e9ad";
}
.blp-ic20-explore:before {
  content: "\e9ae";
}
.blp-ic20-euro:before {
  content: "\e9af";
}
.blp-ic20-equalizer:before {
  content: "\e9b0";
}
.blp-ic20-email-alt:before {
  content: "\e9b1";
}
.blp-ic20-email:before {
  content: "\e9b2";
}
.blp-ic20-edit:before {
  content: "\e9b3";
}
.blp-ic20-drag-indicator:before {
  content: "\e9b4";
}
.blp-ic20-download:before {
  content: "\e9b5";
}
.blp-ic20-dollar:before {
  content: "\e9b6";
}
.blp-ic20-dns:before {
  content: "\e9b7";
}
.blp-ic20-direction:before {
  content: "\e9b8";
}
.blp-ic20-difference:before {
  content: "\e9b9";
}
.blp-ic20-desktop:before {
  content: "\e9ba";
}
.blp-ic20-delete:before {
  content: "\e9bb";
}
.blp-ic20-dashboard:before {
  content: "\e9bc";
}
.blp-ic20-crop:before {
  content: "\e9bd";
}
.blp-ic20-credit-card:before {
  content: "\e9be";
}
.blp-ic20-copy:before {
  content: "\e9bf";
}
.blp-ic20-company:before {
  content: "\e9c0";
}
.blp-ic20-comment-add:before {
  content: "\e9c1";
}
.blp-ic20-comment:before {
  content: "\e9c2";
}
.blp-ic20-column-2-vertical:before {
  content: "\e9c3";
}
.blp-ic20-cloud:before {
  content: "\e9c4";
}
.blp-ic20-close:before {
  content: "\e9c5";
}
.blp-ic20-chevron-up:before {
  content: "\e9c6";
}
.blp-ic20-chevron-right:before {
  content: "\e9c7";
}
.blp-ic20-chevron-left:before {
  content: "\e9c8";
}
.blp-ic20-chevron-down:before {
  content: "\e9c9";
}
.blp-ic20-check:before {
  content: "\e9ca";
}
.blp-ic20-chat:before {
  content: "\e9cb";
}
.blp-ic20-chart-pie:before {
  content: "\e9cc";
}
.blp-ic20-chart-bar:before {
  content: "\e9cd";
}
.blp-ic20-car:before {
  content: "\e9ce";
}
.blp-ic20-camera:before {
  content: "\e9cf";
}
.blp-ic20-calendar-select-day:before {
  content: "\e9d0";
}
.blp-ic20-calendar-remove:before {
  content: "\e9d1";
}
.blp-ic20-calendar-edit:before {
  content: "\e9d2";
}
.blp-ic20-calendar-days:before {
  content: "\e9d3";
}
.blp-ic20-calendar-add:before {
  content: "\e9d4";
}
.blp-ic20-calendar:before {
  content: "\e9d5";
}
.blp-ic20-bulb:before {
  content: "\e9d6";
}
.blp-ic20-bug:before {
  content: "\e9d7";
}
.blp-ic20-brightness-medium:before {
  content: "\e9d8";
}
.blp-ic20-brightness-low:before {
  content: "\e9d9";
}
.blp-ic20-brightness-high:before {
  content: "\e9da";
}
.blp-ic20-brightness-auto:before {
  content: "\e9db";
}
.blp-ic20-border-vertical:before {
  content: "\e9dc";
}
.blp-ic20-border-top:before {
  content: "\e9dd";
}
.blp-ic20-border-style:before {
  content: "\e9de";
}
.blp-ic20-border-right:before {
  content: "\e9df";
}
.blp-ic20-border-outline:before {
  content: "\e9e0";
}
.blp-ic20-border-left:before {
  content: "\e9e1";
}
.blp-ic20-border-inner:before {
  content: "\e9e2";
}
.blp-ic20-border-horizontal:before {
  content: "\e9e3";
}
.blp-ic20-border-bottom:before {
  content: "\e9e4";
}
.blp-ic20-border-all:before {
  content: "\e9e5";
}
.blp-ic20-bookmark-full:before {
  content: "\e9e6";
}
.blp-ic20-bookmark-add:before {
  content: "\e9e7";
}
.blp-ic20-bookmark:before {
  content: "\e9e8";
}
.blp-ic20-book:before {
  content: "\e9e9";
}
.blp-ic20-bolt:before {
  content: "\e9ea";
}
.blp-ic20-bluetooth:before {
  content: "\e9eb";
}
.blp-ic20-block:before {
  content: "\e9ec";
}
.blp-ic20-battery-medium:before {
  content: "\e9ed";
}
.blp-ic20-battery-low:before {
  content: "\e9ee";
}
.blp-ic20-battery-full:before {
  content: "\e9ef";
}
.blp-ic20-battery-empty:before {
  content: "\e9f0";
}
.blp-ic20-battery-charging:before {
  content: "\e9f1";
}
.blp-ic20-audio-prev:before {
  content: "\e9f2";
}
.blp-ic20-audio-next:before {
  content: "\e9f3";
}
.blp-ic20-attachment:before {
  content: "\e9f4";
}
.blp-ic20-aspect-ratio:before {
  content: "\e9f5";
}
.blp-ic20-arrow-up:before {
  content: "\e9f6";
}
.blp-ic20-arrow-right:before {
  content: "\e9f7";
}
.blp-ic20-arrow-left:before {
  content: "\e9f8";
}
.blp-ic20-arrow-down:before {
  content: "\e9f9";
}
.blp-ic20-arrow-circle-top:before {
  content: "\e9fa";
}
.blp-ic20-arrow-circle-right:before {
  content: "\e9fb";
}
.blp-ic20-arrow-circle-left:before {
  content: "\e9fc";
}
.blp-ic20-arrow-circle-down:before {
  content: "\e9fd";
}
.blp-ic20-archive:before {
  content: "\e9fe";
}
.blp-ic20-apps:before {
  content: "\e9ff";
}
.blp-ic20-apple:before {
  content: "\ea00";
}
.blp-ic20-anchor:before {
  content: "\ea01";
}
.blp-ic20-align-right:before {
  content: "\ea02";
}
.blp-ic20-align-left:before {
  content: "\ea03";
}
.blp-ic20-align-justify:before {
  content: "\ea04";
}
.blp-ic20-align-center:before {
  content: "\ea05";
}
.blp-ic20-alert-full:before {
  content: "\ea06";
}
.blp-ic20-alert:before {
  content: "\ea07";
}
.blp-ic20-alarm-add:before {
  content: "\ea08";
}
.blp-ic20-alarm:before {
  content: "\ea09";
}
